<hr>
<li class="nav-item">
    <a href="/about">About</a>
</li>
<script src="https://cdn.dataforsyningen.dk/dawa/assets/dawa-autocomplete2/1.0.2/dawa-autocomplete2.min.js"></script>
<script>
    dawaAutocomplete.dawaAutocomplete(document.getElementById('dawa-autocomplete-input'), {
        select: function (selected) {
            console.log('Valgt adresse: ' + selected.tekst);
        }
    });
</script>