<h1 href="/">EjendomsInvestor</h1>
<div class="autocomplete-container">
    <input type="search" id="dawa-autocomplete-input">
</div>
<nav>
    <ul>
        <li class="nav-item">
            <a href="/">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/">Investeringscases</a>
        </li>
        <li class="nav-item">
            <a href="/">Sammenlign cases</a>
        </li>
        <li class="nav-item">
            <a href="/">Min bruger</a>
        </li>
    </ul>
</nav>