html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1rem;
    color: #363636;
    background-color: rgb(196, 196, 196);
    display: flex;
    flex-direction: column;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.nav-item{
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    ;
}


.nav-item:hover,
.active{
    background-color: #363636;
    color: rgb(196, 196, 196);
}

.nav-item a{
    font-size: larger;
    color:inherit;
    font-weight:bold;
    text-decoration: none;
    display: block;
    height: 3rem;
    width: 100%;
    align-content: center;
    text-align: center;
}

hr{
    height: 5px;
    width: 100%;
    background-color:#363636;
    border:0;
    margin: 0;
}