<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <main>
        <div class="centerpage">
            <div class="login">
                <h1 id="headtitle">EjendomsInvestor</h1>
                <form>
                    <div>
                        <p>Email</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Password</p>
                        <input type="text">
                    </div>
                </form>
                <button class="active"><a href="/dashboard">Log In</a></button>
            </div>
        </div>>
    </main>
</body>

</html>